@media screen and (max-width: 600px){
    .rightnav{
        width: 0px;
        height: 0px;
    }
    .navbar{
        width: 0px;
        height: 0px;
    }
}




@keyframes typing {
    from{width:0}
    to {width: 100%;}
}
.text{
    overflow: hidden;
    border-right: .15em solid grey;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    font-family: Comic Sans MS, Lucida Handwriting;
    animation: typing 1.5s steps(20,end) forwards;
   
   
} 
.head{
    display: inline-block;
    padding-left: 1em;
}

.navbar{
    /* padding-left: 10%;
    padding-right: 10%; */
    
    
    height: 4rem;
    width: 100%;
    border: 3px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.rightnav{
    width: 30%;
    display: flex;
    justify-content: space-around;
  
    
}
.r1{
    
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Comic Sans MS, Lucida Handwriting;
}
.r1:hover{
    font-size: 1.2em;
    text-decoration: underline;
}
/* .r2{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: cursive;
} */


.l1{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Comic Sans MS, Lucida Handwriting;
}
.l1:hover{
    font-size: 1.2em;
    text-decoration: underline;

}
.l2{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Comic Sans MS, Lucida Handwriting;
}
.l2:hover{
    font-size: 1.2em;
    text-decoration: underline;
}
.l3{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Comic Sans MS, Lucida Handwriting;
    
}
.l3:hover{
    font-size: 1.2em;
    text-decoration: underline;
}
