



.pdf{
   padding-left: 16%;
}


.text{
    text-indent: 1em;
    font-family: Comic Sans MS, Lucida Handwriting;
}
.text2{
    text-align: center;
    font-family: Comic Sans MS, Lucida Handwriting;
}

@media screen and (max-width: 800px){
    .pdf{
        padding-left: 0;
    }
}