
.background{
    /* background: black; */
    background-size: cover;
   
    /* height: 50em; */
}
.text{
    margin-left: 10%;
    font-family:cursive;
    font-size: 48px;
    color: black;
    mask: radial-gradient(circle at 0 50%, #000, transparent 10%, transparent 0);
    mask-size: 100%;
    animation: scale 10s infinite;
}
@keyframes scale {
    80%,
    100% {
        mask-size: 1000%
    }
    
}
.downnav{
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-left: 42.5%;
    

}
/* .head{
    display: inline-block;
}
@keyframes typing {
    from{width:0}
    to {width: 100%;}
}
.text{
    overflow: hidden;
    border-right: .15em solid grey;
    font-size: 1.6rem;
    width: 0;
    white-space: nowrap;
    animation: typing 1.5s steps(20,end) forwards;
} */
