.background{
    font-family: Comic Sans MS, Lucida Handwriting;
    width: 100%;
}

.cn{
    padding: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clubconnect{
    padding: 7%;
    padding-top: 3.5%;
    display: flex;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center;
    /* border-color: black;
    border-radius: 10px; */

}
.gogetter{
    padding: 7%;
    padding-top: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wex{
    padding: 7%;
    padding-top: 3.5%;
    display: flex;
    align-items: center;
}

.contentcn{
    padding-left: 3%;
    font-size: large;
}

.imgcn{
    width: 150px;
    height: 150px;
}
.img1{
    border-radius: 2em;
    width: 150px;
    height: 150px;
}

.content1{
    padding-left: 3%;
    font-size: large;
}

.text2{
    padding-bottom: 2%;
}
.imgwex{
    width: 150px;
    height: 150px;
}


.img2{
    border-radius: 2em;
    width: 150px;
    height: 150px;
}
.content2{
    padding-left: 3%;
    font-size: large;
}
/* @media screen and (max-width: 800px){
    .p1{
        padding-left: 5%;
        display: flex;
    }
} */

.contentwex{
    padding-left: 5%;
    font-size: large;
}