.background{
    font-family: Comic Sans MS, Lucida Handwriting;
    width: 100%;
}
.p1{
    padding: 10%;
    padding-top: 5%;
    display: flex;

}
.img1{
    border-radius: 2em;
}

.content1{
    padding-left: 5%;
    font-size: large;
}

/* @media screen and (max-width: 800px){
    .p1{
        padding-left: 5%;
        display: flex;
    }
} */
